{{ 'science.css' | asset_url | stylesheet_tag }}

  <div class="science container padding-base">
  {% comment %} <h1 class="home-heading desktop">Scientifically <br> Better Energy.</h1> {% endcomment %}
  <h1 class="science__title heading-main desktop">Better Energy.</h1>
  <h1 class="science__title heading-main mobile">Better Energy.</h1>

  <div class="science__grid">
    <div class="science__item">
      <span class="science__icon">{% render "icon-lightning" %}</span>
      <div class="science__content">
        <h2 class="science__subtitle">SUPER FAST</h2>
        <p class="science__copy">Maximum bioavailability means you feel the power faster with no crash.</p>
      </div>
    </div>
    <div class="science__item">
      <span class="science__icon">{% render "icon-heart" %}</span>
      <div class="science__content">
        <h2 class="science__subtitle">HEALTHY + CLEAN</h2>
        <p class="science__copy">0 calories, natural flavors, sugar free, vegan, and made in the USA.</p>
      </div>
    </div>
    <div class="science__item">
      <span class="science__icon">{% render "icon-money" %}</span>
      <div class="science__content">
        <h2 class="science__subtitle">AFFORDABLE</h2>
        <p class="science__copy">Days of energy in every bottle at less than 40 cents per serving.</p>
      </div>
    </div>
    <div class="beaker">
      <img
        src="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/web-beaker-2.png?v=1669845739"
        width="auto"
        height="auto"
        loading="lazy">
    </div>
    <div class="science__item">
      <span class="science__icon">{% render "icon-star" %}</span>
      <div class="science__content">
        <h2 class="science__subtitle">PERSONALIZED POWER</h2>
        <p class="science__copy">3 sprays or 30? Choose your own level of energy throughout the day.</p>
      </div>
    </div>
    <div class="science__item">
      <span class="science__icon">{% render "icon-plus-depth" %}</span>
      <div class="science__content">
        <h2 class="science__subtitle">ULTRA DELICIOUS</h2>
        <p class="science__copy">Caffeine is bitter. We masked it completely.</p>
      </div>
    </div>
    <div class="science__item">
      <span class="science__icon">{% render "icon-earth" %}</span>
      <div class="science__content">
        <h2 class="science__subtitle">SUSTAINABLE</h2>
        <p class="science__copy">Less water, plastic, and carbon emissions than any bottled coffee or energy drink.</p>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    {%- render 'cta-button', color: 'light' border: true size: 'large', text: 'better price' -%}
  </div>
</div>

{% schema %}
  {
    "name": "science-section",
    "tag": "section",
    "class": "section bg-dark",
    "settings": []
  }
{% endschema %}