{{ 'power.css' | asset_url | stylesheet_tag }}

<div class="container power padding-base color-primary">
  <div class="power__body">
    <h1 class="power__title heading-main">
      Instantly<br>
      power up
    </h1>
    <p class="power__copy">Pzaz is a breath spray for perfect on-the-go energy.</p>
  </div>
</div>

{% schema %}
{
  "name": "power-section",
  "tag": "section",
  "class": "section bg-dark overflow-hidden",
  "settings": []
}
{% endschema %}
