{{ 'hero.css' | asset_url | stylesheet_tag }}

<div class="container hero">
  <canvas id="hero-canvas"></canvas>
  <span class="hero__button">
    {% render 'cta-button', color: 'light', border: true, size: 'large', text: 'Shop Now' %}
  </span>
</div>

<script src="{{ 'hero_canvas.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "hero",
    "tag": "section",
    "class": "hero-section section bg-primary",
    "settings": []
  }
{% endschema %}