{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="header">
  <div class="header__logo">
    <img
      src="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/Pzaz_BreathSpray_Logo-25_10031bf3-bbc6-4258-990e-170168d8a48e.png?v=1666200627"
      alt="Logo"
      class="logo"
      width="auto"
      height="auto"
      loading="lazy">
  </div>
  <a class="cart-toggle" data-cart-view="data-cart-view">
    {% render 'icon-cart' %}
    <span class="cart-toggle__quantity" data-ajax-cart-section>{{ cart.item_count }}</span>
  </a>
</div>
{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}