.cards .embla {
  --slide-spacing: 1rem;
  --slide-height: 14rem;
  --slide-width: 9rem;
  padding: 1.6rem;
  margin-top: 10rem;
}

@media (min-width: 768px) {
  .cards .embla {
    --slide-spacing: 1rem;
    --slide-height: 26rem;
    --slide-width: 21rem;
    padding: 1.6rem;
  }
}
.cards .embla__viewport {
  width: var(--slide-width);
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-50%);
}
.cards .embla__container {
  gap: var(--slide-spacing);
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}
.cards .embla__slide {
  flex: 0 0 100%;
  min-height: var(--slide-height);
  overflow: hidden;
  min-width: 0;
  position: relative;
  border-radius: 10px;
}

.cards .embla__slide.is-selected {
  flex: 0 0 200%;
  transition: 0.7s;
}

.card__image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: all 0.4s;
}
.is-selected .card__image img {
  transform: rotate(90deg) translateX(-17%) scale(1);
}
.card__body {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  opacity: 0;
}

.is-selected .card__body {
  opacity: 1;
  transition: 1s;
}

.card__title {
  display: none;
  font-family: var(--font-heading);
  font-style: italic;
  text-transform: uppercase;
}

.card__copy {
  font-weight: var(--fw-body-bold);
  font-size: var(--fs-sm);
}

.card .button {
  display: none;
  align-self: flex-end;
  position: absolute;
  bottom: 2rem;
}

@media (min-width: 768px) {
  .card__body {
    padding-left: 2rem;
  }
  .card__title {
    display: block;
  }

  .card .button {
    display: block;
  }
  .card__copy {
    font-size: var(--fs-xl);
    width: 32rem;
    margin-bottom: 1rem;
  }
}

.card__toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(56, 56, 56); */
  /* padding: 2rem; */
}

.card__toggle {
  background-color: black;
  border: 3px solid rgba(var(--color-light));
  height: 2em;
  width: 2rem;
  display: flex;
  border-radius: var(--br-round);
  padding: 0.3rem;
  cursor: pointer;
  margin: 0.7rem;
  filter: drop-shadow(2px 1px 0px rgba(var(--color-light)));
}

.card__toggle polygon {
  fill: rgba(var(--color-light));
  height: 100%;
}

.card__toggle:hover,
.card__toggle[data-active="true"] {
  transform: scale(1.1);
  transition: 0.2s;
  border-color: rgba(var(--color-primary));
  filter: drop-shadow(2px 1px 0px rgba(var(--color-primary)));
}

.card__toggle:hover polygon,
.card__toggle[data-active="true"] polygon {
  fill: rgba(var(--color-primary));
}
