/* ------------------- */
/* Hero Section        */
/* ------------------- */

/* #hero-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.hero {
  /* background-color: rgba(var(--color-primary));
  border-bottom-left-radius: var(--br-base);
  border-bottom-right-radius: var(--br-base); */
  min-height: 100vh;
  padding: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* box-shadow: 0 10px 15px -3px rgba(140, 56, 56, 0.7), 0 4px 6px -4px rgba(164, 32, 32, 0.7); */
}

.hero .button-wrapper {
}

.hero__button {
  position: absolute;
  bottom: 2rem;
}

.hero__video {
  width: 100%;
  overflow: hidden;
  clip-path: inset(1px 1px);
}
