/* ------------------- */
/* Power Section       */
/* ------------------- */

.power {
  border-radius: var(--br-large);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  /* min-height: 100vh; */
}

.power__title {
  margin-bottom: 2rem;
}

.power__copy {
  margin-bottom: 0.5rem;
  max-width: max(70%, 10rem);
  max-width: 26rem;
  font-weight: var(--fw-body-bold);
  font-size: var(--fs-2xl);
  /* outline: 2px solid red; */
}

@media (min-width: 768px) {
  .power__copy {
    font-size: var(--fs-3xl);
    max-width: 30rem;
  }
  .power__title {
    margin-bottom: 2rem;
  }
}